//- PUG includes
include ./includes/main

//- -----------------------------------

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mache
    meta(name="description", content="Template with clean fonts and elegant design. Perfect for business, portfolio and blog sites.")
  body(data-spy="scroll")
    header#home.top
      +nav(["home", "about-us", "our-services", "prices", "contact"])
      .container.h-100            
        .row.h-100
          .col.align-self-center.text-center.u-text-white 
            h1.heading-primary.top__heading.top__heading--center.u-margin-bottom-md
              strong Mache 
              | Modern RWD Template
            p.prime-text.u-margin-bottom-xl.top__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eos.
              br
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet natus fugit facere.
            button.btn.btn-primary.top__button Show more
    
    section#about-us.bg-light.about
      .container
        .row
          .col-lg-12
            h2.heading-secondary.about__heading Perfect for business, portfolio and blog sites!
          .col-lg-6.order-md-2.order-lg-1
            p.pr-lg-3.paragraph.u-margin-bottom-md.about__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            a.btn-link.about__button(href="#") 
              span See the Video
              +svg-play-icon
          .col-lg-6.d-none.d-md-block.order-md-1.order-lg-2.about__svg-wrapper
            +svg-about

    section#our-services.services
      .container
        .row
          .col.text-center
            h2.heading-secondary.services__heading.services__heading--center Our Services
            p.paragraph.paragraph--center.u-margin-bottom-xl.services__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        .row
          for item, index in ["FULLY EDITABLE", "FREE DOWNLOAD", "MODERN DESIGN", "100% RESPONSIVE"]
            .col-6.col-lg-3.text-center.mb-5.mb-lg-0
              .mx-auto.services__icon.u-margin-bottom-sm(class=`services__icon-${index+1}`)
                .bg
                +svg-services-icons(index+1)
              h3.heading-tertiary.u-text-primary.services__subheading=item
    
    section.text-white.d-none.d-md-block.quote
      .container-fluid.quote__container
        #quote-carousel.carousel.slide.quote__carousel(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-slide-to='0', data-target='#quote-carousel')
            li(data-slide-to='1', data-target='#quote-carousel')
            li(data-slide-to='2', data-target='#quote-carousel')
          .carousel-inner
            for quote, index in ["Lorem ipsum dolor sit amet, consectetur adipisicing elit, std do eiusmod tempor incididunt ut labore tet dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ex eaque quo doloribus quis? Qui ad consectetur ex placeat repellat eum soluta. Quae doloribus, repellat id autem nesciunt nam corrupti earum iusto dicta.", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos autem voluptatum voluptates quas? Veritatis tempore in a totam obcaecati animi tenetur? Id iusto ab voluptatibus non suscipit unde ipsum, quis facilis veritatis neque?"]
              .carousel-item.quote__item(class=`${index === 0 ? 'active' : ''}`)
                .quote__item-wrapper.text-center
                  +svg-quote-icon
                  blockquote.blockquote=quote
                  +svg-quote-icon
          a.carousel-control-prev(data-slide='prev', href='#quote-carousel', role='button')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(data-slide='next', href='#quote-carousel', role='button')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next

    section#prices.bg-light.prices
      .container
        .row
          .col.text-center
            h2.heading-secondary.prices__heading.prices__heading--center Check Our Prices
            p.paragraph.paragraph--center.u-margin-bottom-xl.prices__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        .row
          for card in [{price: "19", type: "STANDARD", first: "5", second: "200 MB"}, {price: "39", type: "BUSINESS", first: "15", second: "1 GB"}, {price: "59", type: "PREMIUM", first: "30", second: "2 GB"}, {price: "99", type: "UNLIMITED", first: "Unlimited", second: "Unlimited"}]
            .col-10.offset-1.col-md-6.offset-md-0.col-lg-3.text-center.mb-5.mb-lg-0
              +price-card(card)
  
    section.features
      .container
        .row
          for title, index in ["HIGH RESOLUTION","PHOTOGRAPHY","EASY TO CUSTOMIZE","24/7 SUPPORT","POWERFULL THEME","SEO OPTIMIZATION"]
            .col-6.col-lg-4.mb-5.mt-5
              .media.pl-3.pr-3.flex-column.flex-sm-row.align-items-center.align-items-md-start
                .mr-0.mr-sm-5
                  +svg-features-icons(index+1)
                .media-body.features__body
                  h3.mt-3.mt-sm-0.text-center.text-sm-left.heading-tertiary.u-text-primary=title
                  p.mb-0.d-none.d-md-block.paragraph Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
    
    section.bg-primary.community
      .container-fluid.h-100
        .row.h-100
          .col-12
            h2.heading-primary.text-center.mb-5.u-text-white
              | Became A Part Of 
              strong Mache 
              | Community Today
          .col-12.d-flex.justify-content-center
            button.btn.btn-secondary Join Us
    
    section.articles
      .container
        .row
          .col.text-center
            h2.heading-secondary.articles__heading.articles__heading--center Our Latest Articles
            p.paragraph.paragraph--center.u-margin-bottom-xl Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        .row
          for article,index in ['Ebony & Ivory','Smart Stationary','Clever Poster','Vinyl Record','Treehouse Template','Burned Logo',]
            .col-10.offset-1.col-md-6.offset-md-0.col-lg-4.mb-5
              +article-card(article,index)
    
    section.blog
      .container.h-100            
        .row.h-100
          .col.align-self-center.text-center.text-white
            h2.heading-secondary.blog__heading.blog__heading--center Check out our blog
            p.paragraph.paragraph--center.u-margin-bottom-xl Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            button.btn.btn-primary SHOW MORE

    section#contact.bg-light.contact
      .container
        .row.align-items-center
          .col-lg-6.d-none.d-lg-block
            +svg-contact
          .col-lg-6
            h2.heading-secondary.contact__heading Always stay in touch!
            .contact__svg-wrapper.d-none.d-md-block.d-lg-none
              +svg-contact
            p.pr-lg-3.paragraph.u-margin-bottom-md Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            button.btn.btn-primary Contact us
    
    footer.text-white.footer
      .container
        .row
          .col-md-6.text-center.text-md-left
            p.caption Layout by SYMU.co
          .col-md-6.text-center.text-md-right
            p.caption Coding by SnovyDesigns
          
            
            